<!doctype html>
<html>
<% include ../../utils/head %>
<body>
	<div id="page">
		<div id="header">
			<%include ../../utils/header %>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>Ae dil hai mushkil teaser</h1>
					<div class="article">
						<img src="../../../images/aedil.jpg" alt="">
						<h1>Ae dil hai mushkil teaser</h1>
						<span>SEPTEMBER 4, 2016</span>
						<p><iframe width="640" height="360" src="https://www.youtube.com/embed/GdNKsW-E_po" frameborder="0" allowfullscreen></iframe></p>
					</div>
					<div class="sidebar">
						<% include ../sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include ../../utils/footer %>
	</div>
</body>
</html>