<!doctype html>
<html>
<% include ../../utils/head %>
<body>
	<div id="page">
		<div id="header">
			<%include ../../utils/header %>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>ABOUT ETE</h1>
					<div class="article">
						<img src="../../../images/article1/im1.jpg" alt="">
						<h1>START OF EXPLORING THE EXPLORED</h1>
						<span>SEPTEMBER 4, 2016</span>
						<p>Created this space to write about my daily experiences. Exploring the explored - sounds boring I know ! People always want to do the undone. Capture the uniqueness. Well beleive me, this space is all about that.
						I believe that you don't have to go Leh-Ladakh or the Grand Canyon for some unique experience. We all can do this on daily basis. Just look around yourself, whether its a simple lake, or river, everything has a new story to tell. I believe, this will satisfy the "Travel Bug" in me without much hurting my pocket.</p>
						<p>This is all about this site, very eager to write more and more experiences in this blog. <br/>--May the "Travel Bug" be with you!</p>
					</div>
					<div class="sidebar">
						<% include ../sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include ../../utils/footer %>
	</div>
</body>
</html>