<ul>
	<li>
		<a href="articles/startofete"><img src="images/article1/im1.jpg" alt=""></a>
		<h1>START OF EXPLORING THE EXPLORED</h1>
		<span>SEPTEMBER 4th, 2016</span>
		<p></p>
		<a href="articles/startofete" class="more">Read More</a>
	</li>
	<li>
		<h1>AE DIL A MUSHKIL TRAILER</h1>
		<a href="/featured"><img src="../../images/aedil.jpg" alt=""></a>
		<span>SEPTEMBER 4th, 2016</span>
		<p></p>
		<a href="/featured" class="more">Read More</a>
	</li>
</ul>