<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<% include ../utils/head%>
<body>
	<div id="page">
		<div id="header">
			<% include ../utils/header %>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>Blog</h1>
					<div class="article">
						<% include articles %>
					</div>
					<div class="sidebar">
						<% include sidebar %>
					</div>
				</div>
			</div>
		</div>
		<% include ../utils/footer %>
	</div>
</body>
</html>