<ul>
	<li>
		<h1>FEATURED POSTS</h1>
		<a href="/featured"><img src="../../images/aedil.jpg" alt=""></a>
		<span>FEBRUARY 6, 2023</span>
	</li>
	<li>
		<!-- <h1>RECENT POSTS</h1>
		<ul>
			<li>
				<a href="singlepost.html"><img src="images/alien-life.jpg" alt=""></a>
				<h2>ALIEN LIFE</h2>
				<span>FEBRUARY 3, 2023</span>
			</li>
			<li>
				<a href="singlepost.html"><img src="http://exploringtheexplored.com/images/galaxy.jpg" alt=""></a>
				<h2>THE GALAXY</h2>
				<span>FEBRUARY 1, 2023</span>
			</li>
		</ul> -->
	</li>
</ul>