<ul>
	<li>
		<h1>FEATURED POSTS</h1>
		<a href="singlepost.html"><img src="http://localhost:7777/images/moon-satellite.jpg" alt=""></a>
		<h2>SOYUZ TMA-M</h2>
		<span>FEBRUARY 6, 2023</span>
	</li>
	<li>
		<h1>RECENT POSTS</h1>
		<ul>
			<li>
				<a href="singlepost.html"><img src="images/alien-life.jpg" alt=""></a>
				<h2>ALIEN LIFE</h2>
				<span>FEBRUARY 3, 2023</span>
			</li>
			<li>
				<a href="singlepost.html"><img src="http://localhost:7777/images/galaxy.jpg" alt=""></a>
				<h2>THE GALAXY</h2>
				<span>FEBRUARY 1, 2023</span>
			</li>
		</ul>
	</li>
</ul>