<div id="footer">
	<div class="connect">
		<div>
			<h1>FOLLOW ETE</h1>
			<div>
			<a href="https://www.facebook.com/exploringtheexplored/" class="facebook">facebook</a>
			<a href="https://twitter.com/siddhant180wins" class="twitter">twitter</a>
			<a href="https://plus.google.com/+siddhantgarg_honey" class="googleplus">googleplus</a>
			</div>
		</div>
	</div>
	<div class="footnote">
		<div>
			<p>&copy; EXPLORING THE EXPLORED | ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
