<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Exploring the explored places, creating new experiences in daily life.">
	<meta name="keywords" content="Explore,Travel,Blog">
	<meta name="author" content="Siddhant Garg">
	<meto name="robots" content="index/follow">
	<title>blog - Space Science Website Template</title>
	<link rel="stylesheet" href="../../../css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../../../css/mobile.css">
	<script src="http://exploringtheexplored.com/js/mobile.js" type="text/javascript"></script>
</head>